<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src=
    "tailwind.config={
            theme:{
                fontFamily:{
                    inter: ['Inter', 'sans-serif'];
                },
            },
    }"></script>

</head>

<!-- <body class="bg-gradient-to-r from-purple-400 to-blue-600"> -->
<body 
    class="h-screan bg-cover bg-fixed justify-center items-center"
    style="background-image: url('../static/img/fundo-login.png')">

    <main class="p-48 py-12 flex justify-center align-items:center ">

        <section class="rounded-l-lg my-auto bg-gradient-to-r from-gray-200 to-orange-300 my-40 hidden lg:block w-1/2 ">
            <img class="m-auto p-6 h-" src="../static/img/cabeca.png" alt="icone de gráficos">
        </section>

        

        <section class="bg-gray-200 mx-auto my-40 p-12 gap-4 flex flex-col opacity-90 rounded-lg lg:w-1/2 justify-center lg:rounded-l-none">
            
            <img class="w-32 h-auto flex center m-auto lg:w-1/2" src="../static/img/logo-cigam-falavinha.png" alt="Logo Cigam Falavinha Next">

            <section class="">
                <div class="text-center text-zinc-400 mb-2">
                    <p class="text-1.5xl">Acesso exclusivo para Time Cigam</p>
                </div>
                

                <form>
                    <label class="text-2sm text-zinc-600 mb-2" for="email">Usuário</label>
                    <input class="text-sm w-full mb-4 rounded border-2 border-stone-100 py-2 drop-shadow-2xl focus:outline-none hover:border-orange-200 hover:ring-1 hover:ring-slate-300 focus:border-orange-300" id="email" type="email" placeholder="Digite seu E-mail">  
                    <label class="text-2sm text-zinc-600 mb-2" for="senha">Senha</label>
                    <input class="text-sm w-full mb-4 rounded border-2 border-stone-100 py-2 drop-shadow-2xl focus:outline-none hover:border-orange-200 hover:ring-1 hover:ring-slate-300 focus:border-orange-300" id="senha" type="senha" placeholder="Digite sua senha">                 
                    <button class="bg-orange-300 text-1xl text-white w-full font-bold py-1 rounded-full drop-shadow-2xl hover:bg-orange-400 duration-100" type="button">Entrar</button>
                </form>
            </section>
        </section>  
        

    </main>
</body>

</html>