<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config={
        theme:{
            extend:{
                colors:{
                    latranja:{
                        claro:'#FF6B00',
                        medio: '#ff7f00',
                        escuro: '#A5450F'
                    },
                },
                fontFamily:{
                    inter: ['Inter', 'sans-serif']
                }
            }
        }
    }"></script>

</head>

<!-- <body class="bg-gradient-to-r from-purple-400 to-blue-600"> -->
<body 
    class="w-full h-full bg-cover bg-fixed"
    style="background-image: url('../static/img/fundo-login.png')">
    <main class="bg-white flex flex-col lg:flex-col justify-center items-center w-3/5 mx-auto my-40 p-12 shadow-2xl opacity-60">
        <img class="w-2/5 lg:w-2.5/5" src="../static/img/logo-cigam-falavinha.png" alt="Logo Cigam Falavinha Next text-left">
        <h1 class="text-1xl lg:text-2xl">Tela de Login </h1>
    </main>
</body>

</html>