<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src=
    "tailwind.config={
            theme:{
                fontFamily:{
                    inter: ['Inter', 'sans-serif'];
                },
            },
    }"></script>

</head>

<!-- <body class="bg-gradient-to-r from-purple-400 to-blue-600"> -->
<body 
    class="h-screan bg-cover bg-fixed justify-center items-center"
    style="background-image: url('../static/img/fundo-login.png')">

    <main class="px-10 flex flex-col justify-center align-items:center drop-shadow-2xl">

        <section class="bg-laranja-claro hidden">
            <img class="" src="../static/img/graficos.jpg" alt="icone de gráficos">
        </section>

        

        <section class="bg-white mx-auto my-40 p-12 gap-8 flex flex-col opacity-80 rounded-lg">
            
            <img class="flex center" src="../static/img/logo-cigam-falavinha.png" alt="Logo Cigam Falavinha Next">

            <section class="">
                <div class="text-center mb-2">
                    <p class="text-1.5xl text-gray-600">Acesso exclusivo para Time Cigam</p>
                </div>
                

                <form>
                    <label class="text-2sm mb-2" for="email">Usuário</label>
                    <input class="text-sm w-full mb-4 rounded border-2 border-stone-100 py-2 drop-shadow-2xl focus:outline-none hover:border-slate-50 hover:ring-1 hover:ring-orange-50 focus:border-orange-100" id="email" type="email" placeholder="Digite seu E-mail">  
                    <label class="text-2sm mb-2" for="senha">Senha</label>
                    <input class="text-sm w-full mb-4 rounded border-2 border-stone-100 py-2 drop-shadow-2xl focus:outline-none hover:border-slate-50 hover:ring-1 hover:ring-orange-50 focus:border-orange-100" id="senha" type="senha" placeholder="Digite sua senha">                 
                    <button class="bg-orange-600 text-2xl text-white font-bold w-full py-1 rounded-full drop-shadow-2xl hover:bg-neutral-900" type="button">Entrar</button>
                </form>
            </section>
        </section>  
        

    </main>
</body>

</html>